In [1]:
import numpy as np
import pandas as pd
from numpy import nan
import pickle
pd.set_option('display.max_rows', 200)

## Data Cleaning

### 1. load data

In [2]:
comprehensive = pd.read_stata('../Data/data/Comprehensive-Sample.dta')
comprehensive

,year,numcode,oilreserves_full,oilreserves,oilreserves_public,newdiscovery_aspo,aspo,wildcat,endowment,pop_maddison,...,logmountain,logoutreg,dincidence2COW,dmilexpSIPRI,dincidenceU,dcoup,decade,wildcatsample,lowincsample,opec
0,1929.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.041836,0.127953,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
1,1930.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.041836,0.032496,-1.0,NaN,NaN,NaN,1.0,NaN,1.0,0.0
2,1931.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.041836,0.032496,0.0,NaN,NaN,NaN,1.0,NaN,1.0,0.0
3,1932.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.041836,0.032496,0.0,NaN,NaN,NaN,1.0,NaN,1.0,0.0
4,1933.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.041836,0.127844,0.0,NaN,NaN,NaN,1.0,NaN,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17915,2004.0,894,0.0,NaN,0.0,NaN,NaN,NaN,0.0,10962.026367,...,-0.016094,0.177880,0.0,NaN,0.0,0.0,8.0,NaN,1.0,0.0
17916,2005.0,894,0.0,NaN,0.0,NaN,NaN,NaN,0.0,11115.380859,...,-0.016094,0.187731,NaN,NaN,0.0,0.0,8.0,NaN,1.0,0.0
17917,2006.0,894,0.0,NaN,0.0,NaN,NaN,NaN,0.0,11288.252930,...,-0.016094,0.167053,NaN,NaN,0.0,0.0,8.0,NaN,1.0,NaN
17918,2007.0,894,0.0,NaN,0.0,NaN,NaN,NaN,0.0,11477.447266,...,-0.016094,0.172984,NaN,NaN,0.0,0.0,8.0,NaN,1.0,NaN
17919,2008.0,894,0.0,NaN,0.0,NaN,NaN,NaN,0.0,11669.534180,...,-0.016094,0.184592,NaN,NaN,NaN,NaN,8.0,NaN,1.0,NaN

In [163]:
comprehensive.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17920 entries, 0 to 17919
Data columns (total 80 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        17920 non-null  float32
 1   numcode                     17920 non-null  int16
 2   oilreserves_full            14307 non-null  float32
 3   oilreserves                 12519 non-null  float32
 4   oilreserves_public          9950 non-null   float32
 5   newdiscovery_aspo           12354 non-null  float32
 6   aspo                        4736 non-null   float32
 7   wildcat                     12354 non-null  float32
 8   endowment                   14160 non-null  float32
 9   pop_maddison                10441 non-null  float64
 10  ecgrowth                    9341 non-null   float32
 11  efrac                       390 non-null    float32
 12  lfrac                       390 non-null    float32
 13  rfrac                       390 non-null    float32
 14  incidence2COW               15419 non-null  float64
 15  onset2COWCS                 14912 non-null  float32
 16  incidenceU                  12855 non-null  float32
 17  onsetUCS                    11848 non-null  float32
 18  Fearon_war                  13045 non-null  float64
 19  onset_FearonCS              11867 non-null  float32
 20  Sambanis_war                12791 non-null  float64
 21  onset_SambanisCS            11854 non-null  float32
 22  coup                        12855 non-null  float64
 23  any_coup                    8517 non-null   float32
 24  periregular                 5758 non-null   float32
 25  no_transition               5758 non-null   float32
 26  milexp_pergdpSIPRI          2194 non-null   float32
 27  mountain                    12524 non-null  float32
 28  religion_fractionalization  16720 non-null  float32
 29  ethnic_fractionalization    15120 non-null  float32
 30  language_fractionalization  15840 non-null  float32
 31  ETHPOL_reynal               10960 non-null  float32
 32  ETHFRAC_reynal              10960 non-null  float32
 33  RELPOL_reynal               10960 non-null  float32
 34  RELFRAC_reynal              10960 non-null  float32
 35  leg_british                 14800 non-null  float32
 36  rule_law96                  13600 non-null  float32
 37  land_area                   17920 non-null  float64
 38  crude1990P                  17696 non-null  float32
 39  smallregion                 17840 non-null  float64
 40  largeregion                 17840 non-null  float64
 41  code3                       17920 non-null  object
 42  out_regdisaster             17840 non-null  float32
 43  oilpop                      7372 non-null   float32
 44  zero_res                    7372 non-null   float32
 45  logoilres                   7372 non-null   float32
 46  oilpop_public               6985 non-null   float32
 47  logoilres_public            6985 non-null   float32
 48  logoilres_full              8809 non-null   float32
 49  valoilres                   7320 non-null   float32
 50  valoilres_public            6985 non-null   float32
 51  logvaloilres                7349 non-null   float32
 52  logvaloilres_public         6985 non-null   float32
 53  logvaloilres_full           8787 non-null   float32
 54  oilpop_impute               7672 non-null   float32
 55  logoilres_impute            7672 non-null   float32
 56  valoilres_impute            7620 non-null   float32
 57  logvaloilres_impute         7649 non-null   float32
 58  logvalprod                  7372 non-null   float32
 59  logvalprod_impute           7672 non-null   float32
 60  discoveryaspoPC             7320 non-null   float32
 61  zero_disc                   7320 non-null   float32
 62  logdiscoveryaspo            7320 non-null   float32
 63  logvaldisc                  7320 non-null   float32
 64  logGDP_M                    9488 non-null   float32
 65  logpop_M                    10441 non-null  float32
 66  logpopdens                  10441 non-null  float32
 67  democracy                   8933 non-null   float32
 68  x_dem                       8602 non-null   float32
 69  logmilexgdpSIPRI            2194 non-null   float32
 70  logmountain                 12524 non-null  float32
 71  logoutreg                   17840 non-null  float32
 72  dincidence2COW              14971 non-null  float32
 73  dmilexpSIPRI                1858 non-null   float32
 74  dincidenceU                 12407 non-null  float32
 75  dcoup                       12407 non-null  float32
 76  decade                      17696 non-null  float32
 77  wildcatsample               3078 non-null   float32
 78  lowincsample                8160 non-null   float32
 79  opec                        15458 non-null  float32
dtypes: float32(70), float64(8), int16(1), object(1)
memory usage: 6.2+ MB

In [3]:
aspo = pd.read_stata('../Data/data/ASPO-Sample.dta')

In [4]:
aspo0 = aspo[['year', 'numcode', 'd2incidenceU', 'd3_6incidenceU']]

In [5]:
comprehensive = pd.merge(comprehensive, aspo0, how="left", on=["year", "numcode"])

### 2. function to do transformation

In [167]:
# Create a sample dataframe
df = pd.DataFrame({"country": np.random.choice(["A", "B", "C"], size=20),
                   "year": np.arange(20),
                   "lognum1": np.random.randint(1, 4, size=20),
                   "num2": np.random.randint(20000, 90000, size=20),
                   "num3": np.random.randint(20000, 90000, size=20),
                   "num4": np.random.randint(20000, 90000, size=20)})

In [168]:
df = df.sort_values(by=['country','year'], ascending=True)

In [169]:
df

   country  year  lognum1   num2   num3   num4
0        A     0        1  85068  63797  65053
1        A     1        2  70487  47356  59450
3        A     3        2  49637  27691  87219
7        A     7        3  36191  61706  81749
8        A     8        1  32769  47748  72691
12       A    12        2  39516  27743  57157
17       A    17        1  29082  70287  20548
19       A    19        2  77850  37796  62513
5        B     5        1  21559  44788  45197
11       B    11        2  34120  23184  20985
13       B    13        1  37889  87933  57675
15       B    15        1  83268  68493  67982
16       B    16        3  56163  24818  23413
2        C     2        1  78603  54938  22897
4        C     4        2  48618  38126  30811
6        C     6        2  28101  30661  58122
9        C     9        3  54709  75818  37075
10       C    10        2  33837  33624  58303
14       C    14        1  42667  77102  41883
18       C    18        3  72124  57933  25479

In [6]:
def transform_df(df, groupby_cols, log_cols, diff_cols, pct_change_cols, binarize_cols, binarize_0_cols):
    
    new_df = df.copy()
    new_cols = []

    for i, col_name in enumerate(log_cols):
        new_col_name = col_name[3:] # to get rid of 'log' in the column name
        new_df[new_col_name] = np.exp(new_df[col_name])
        log_cols[i] = new_col_name

    all_cols = log_cols + pct_change_cols
    
    for col_name in all_cols:
        
        diff_name = col_name + '_diff'
        new_df[diff_name] = new_df.groupby(groupby_cols)[col_name].pct_change()
        new_cols.append(diff_name)

        if col_name in binarize_cols:
            binarize_name = col_name + '_binarize'
            new_df[binarize_name] = np.NAN
            new_df.loc[new_df[diff_name] > 0.1, binarize_name] = 1
            new_df.loc[new_df[diff_name] <= 0.1, binarize_name] = 0
            new_df.loc[pd.isnull(new_df[diff_name]), binarize_name] = np.nan
            new_cols.append(binarize_name)

    for col_name in diff_cols:

        diff_name = col_name + '_diff'
        new_df[diff_name] = new_df[col_name] - new_df.groupby(groupby_cols)[col_name].shift(1)
        new_cols.append(diff_name)

    for col_name in binarize_0_cols:
        binarize_name = col_name + '_binarize'
        new_df[binarize_name] = np.NAN
        new_df.loc[new_df[col_name] > 0.1**5, binarize_name] = 1
        new_df.loc[new_df[col_name] <= 0.1**5, binarize_name] = 0
        new_cols.append(binarize_name)
            
    return new_df[new_cols]

In [171]:
transform_df(df, ['country'], ['lognum1'], ['num4'], ['num2','num3'], ['num3'])

    num1_diff  num2_diff  num3_diff  num3_binarize  num4_diff
0         NaN        NaN        NaN            NaN        NaN
1    1.718282  -0.171404  -0.257708            0.0    -5603.0
3    0.000000  -0.295799  -0.415259            0.0    27769.0
7    1.718282  -0.270887   1.228377            1.0    -5470.0
8   -0.864665  -0.094554  -0.226202            0.0    -9058.0
12   1.718282   0.205896  -0.418970            0.0   -15534.0
17  -0.632121  -0.264045   1.533504            1.0   -36609.0
19   1.718282   1.676914  -0.462262            0.0    41965.0
5         NaN        NaN        NaN            NaN        NaN
11   1.718282   0.582634  -0.482361            0.0   -24212.0
13  -0.632121   0.110463   2.792831            1.0    36690.0
15   0.000000   1.197683  -0.221077            0.0    10307.0
16   6.389056  -0.325515  -0.637656            0.0   -44569.0
2         NaN        NaN        NaN            NaN        NaN
4    1.718282  -0.381474  -0.306018            0.0     7914.0
6    0.000000  -0.422004  -0.195798            0.0    27311.0
9    1.718282   0.946870   1.472783            1.0   -21047.0
10  -0.632121  -0.381509  -0.556517            0.0    21228.0
14  -0.632121   0.260957   1.293064            1.0   -16420.0
18   6.389056   0.690393  -0.248619            0.0   -16404.0

--

### 3. comprehensive - cleaning

In [172]:
v_lst = ['onset2COWCS',
         'onsetUCS',
         'coup',
         'periregular',
         'milexp_pergdpSIPRI',
         #'logmilexgdpSIPRI',
         'numcode',
         'year',
         
         #'logGDP_M',
         'ecgrowth',
         'pop_maddison',
         #'logpop_M',
         'logpopdens', ####
         'democracy',
         'logmountain',
         'ethnic_fractionalization',
         'religion_fractionalization',
         'language_fractionalization',
         'leg_british',
         'no_transition',
         'wildcat',
         
         'oilreserves', # added by Wanran on Nov 28
         'valoilres', # value of oil reserves
         #'logvaloilres',
         'valoilres_public',
         #'logvaloilres_public',
         'oilpop',
         #'logoilres',
         'valoilres_impute',
         #'logvaloilres_impute',
         'oilpop_impute',
         #'logoilres_impute',
         'out_regdisaster']
         #'logoutreg'

In [173]:
# variables that need transformation
# transform_lst = ['logmilexgdpSIPRI', # defense burden
#                 'logpop_M',
#                 'logpopdens',
#                 'democracy', # democracy index
#                 'wildcat', # wildcat drilling 
#                 'logoutreg', # out of region disaster 
#                 'logvaloilres',
#                 'logvaloilres_public',
#                 'logoilres',
#                 'logvaloilres_impute',
#                 'logoilres_impute'
#                 ]

transform_lst = ['milexp_pergdpSIPRI',
                'pop_maddison',
                'logpopdens',
                'democracy',
                'wildcat',
                'out_regdisaster',
                #'oilreserves',
                'valoilres', # value of oil reserves
                'valoilres_public',
                'oilpop',
                'valoilres_impute',
                'oilpop_impute']

In [7]:
# variables that need to take exp and then compute pct change
log_lst = ['logpopdens']

# variables that need to take diff directly
diff_lst = ['milexp_pergdpSIPRI']

# variables that need to take pct change directly
pct_change_lst = ['pop_maddison', 
                'democracy',
                'wildcat',
                'out_regdisaster',
                'oilreserves',
                'valoilres', # value of oil reserves
                'valoilres_public', # value of oil reserves from public data
                'oilpop', # oil reserves per capita in million barrels per 1000 persons
                'valoilres_impute', # value of oilpop_impute (multiply by crude oil price)
                'oilpop_impute', # oil reserves per capita - imputed
                'crude1990P' # oil price
                ]

# a subset of pct_change_lst
# variables that need to be binarized by 0.1 cutoff
binarize_lst = ['oilreserves',
              'valoilres', # value of oil reserves
              'valoilres_public', # value of oil reserves from public data
              'oilpop', # oil reserves per capita in million barrels per 1000 persons
              'valoilres_impute', # value of oilpop_impute (multiply by crude oil price)
              'oilpop_impute'] # oil reserves per capita - imputed

binarize_0_lst = ['newdiscovery_aspo']

# variables that don't need transformation
untransformed_lst = ['onset2COWCS',
                    'onsetUCS',
                    'coup',
                    'periregular',
                    'numcode',
                    'year',
                    'ecgrowth',
                    'logmountain',
                    'ethnic_fractionalization',
                    'religion_fractionalization',
                    'language_fractionalization',
                    'leg_british',
                    'no_transition',
                    'decade',
                    'd2incidenceU',
                    'd3_6incidenceU',
                    'opec']

In [8]:
comprehensive = comprehensive.replace(0, 0.1**5)

In [9]:
comprehensive['onset2COWCS'] = comprehensive.onset2COWCS.replace(0.1**5, 0)
comprehensive['onsetUCS'] = comprehensive.onsetUCS.replace(0.1**5, 0)
comprehensive['leg_british'] = comprehensive.leg_british.replace(0.1**5, 0)

In [10]:
comprehensive = comprehensive.sort_values(by=['numcode','year'], ascending=True)

In [11]:
new_df = transform_df(df = comprehensive,
                      groupby_cols = ['numcode'], 
                      log_cols = log_lst, 
                      diff_cols = diff_lst, 
                      pct_change_cols = pct_change_lst, 
                      binarize_cols = binarize_lst,
                      binarize_0_cols = binarize_0_lst)

In [12]:
new_df.newdiscovery_aspo_binarize.value_counts()

0.0    10085
1.0     2269
Name: newdiscovery_aspo_binarize, dtype: int64

In [13]:
comprehensive_new = pd.concat([comprehensive[untransformed_lst], new_df], axis = 1)

In [14]:
comprehensive_new.shape

(17920, 37)

In [15]:
comprehensive_new.columns

Index(['onset2COWCS', 'onsetUCS', 'coup', 'periregular', 'numcode', 'year',
       'ecgrowth', 'logmountain', 'ethnic_fractionalization',
       'religion_fractionalization', 'language_fractionalization',
       'leg_british', 'no_transition', 'decade', 'd2incidenceU',
       'd3_6incidenceU', 'opec', 'popdens_diff', 'pop_maddison_diff',
       'democracy_diff', 'wildcat_diff', 'out_regdisaster_diff',
       'oilreserves_diff', 'oilreserves_binarize', 'valoilres_diff',
       'valoilres_binarize', 'valoilres_public_diff',
       'valoilres_public_binarize', 'oilpop_diff', 'oilpop_binarize',
       'valoilres_impute_diff', 'valoilres_impute_binarize',
       'oilpop_impute_diff', 'oilpop_impute_binarize', 'crude1990P_diff',
       'milexp_pergdpSIPRI_diff', 'newdiscovery_aspo_binarize'],
      dtype='object')

In [16]:
# potential selection of variables
comprehensive_new[[# outcome
                   'onset2COWCS',
                   'onsetUCS',
                   'coup', 
                   'periregular',
                   'milexp_pergdpSIPRI_diff',
                   
                   # lagged outcome
                   'd2incidenceU',
                   'd3_6incidenceU',
                   
                   # treatment
                   'oilreserves_binarize',
                   'valoilres_binarize',
                   'valoilres_public_binarize',
                   'oilpop_binarize',
                   'valoilres_impute_binarize',
                   'oilpop_impute_binarize',
                   'newdiscovery_aspo_binarize',

                   # confounders
                   'crude1990P_diff',
                   'wildcat_diff',
                   'out_regdisaster_diff',
                   'ecgrowth',
                   'pop_maddison_diff',
                   'popdens_diff',
                   'democracy_diff',
                   'logmountain',
                   'ethnic_fractionalization',
                   'religion_fractionalization',
                   'language_fractionalization',
                   'leg_british',
                   'decade',
                   'opec']]

,onset2COWCS,onsetUCS,coup,periregular,milexp_pergdpSIPRI_diff,d2incidenceU,d3_6incidenceU,oilreserves_binarize,valoilres_binarize,valoilres_public_binarize,...,pop_maddison_diff,popdens_diff,democracy_diff,logmountain,ethnic_fractionalization,religion_fractionalization,language_fractionalization,leg_british,decade,opec
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.041836,0.007693,0.002717,0.006141,0.00,NaN,0.00001
1,0.0,NaN,NaN,0.00001,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.041836,0.007693,0.002717,0.006141,0.00,1.0,0.00001
2,0.0,NaN,NaN,0.00001,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.041836,0.007693,0.002717,0.006141,0.00,1.0,0.00001
3,0.0,NaN,NaN,0.00001,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.041836,0.007693,0.002717,0.006141,0.00,1.0,0.00001
4,0.0,NaN,NaN,0.00001,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.041836,0.007693,0.002717,0.006141,0.00,1.0,0.00001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17915,0.0,0.0,0.00001,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.015008,0.000149,0.000000,-0.016094,0.007808,0.007359,0.008734,0.01,8.0,0.00001
17916,0.0,0.0,0.00001,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.013990,0.000139,0.000000,-0.016094,0.007808,0.007359,0.008734,0.01,8.0,0.00001
17917,NaN,0.0,0.00001,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.015553,0.000154,0.000000,-0.016094,0.007808,0.007359,0.008734,0.01,8.0,NaN
17918,NaN,0.0,0.00001,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.016760,0.000166,0.000000,-0.016094,0.007808,0.007359,0.008734,0.01,8.0,NaN
17919,NaN,0.0,0.00001,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.016736,0.000166,0.133333,-0.016094,0.007808,0.007359,0.008734,0.01,8.0,NaN

In [183]:
#comprehensive_new[['oilpop_impute_binarize','year']].groupby('oilpop_impute_binarize').count()

In [17]:
comprehensive_new.to_pickle("../Data/data/comprehensive_new.pkl")

In [189]:
comprehensive_new = pd.read_pickle('../Data/data/comprehensive_new.pkl')

In [18]:
comprehensive_new_full = pd.concat([comprehensive, comprehensive_new], axis = 1)

In [19]:
comprehensive_new_full.to_pickle("../Data/data/comprehensive_new_full.pkl")

### 4. ASPO - cleaning

In [193]:
aspo.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5120 entries, 0 to 5119
Data columns (total 108 columns):
 #    Column                      Dtype
---   ------                      -----
 0    year                        float32
 1    numcode                     int16
 2    oilreserves_full            float32
 3    oilreserves                 float32
 4    oilreserves_public          float32
 5    newdiscovery_aspo           float32
 6    imputedzero                 float32
 7    aspo                        float32
 8    wildcat                     float32
 9    endowment                   float32
 10   ecgrowth                    float32
 11   country                     object
 12   incidence2COW               float64
 13   onset2COWCS                 float32
 14   incidenceU                  float32
 15   onsetUCS                    float32
 16   Fearon_war                  float64
 17   onset_FearonCS              float32
 18   Sambanis_war                float64
 19   onset_SambanisCS            float32
 20   coup                        float64
 21   any_coup                    float32
 22   periregular                 float32
 23   no_transition               float32
 24   religion_fractionalization  float32
 25   ethnic_fractionalization    float32
 26   language_fractionalization  float32
 27   ETHPOL_reynal               float32
 28   ETHFRAC_reynal              float32
 29   RELPOL_reynal               float32
 30   RELFRAC_reynal              float32
 31   leg_british                 float32
 32   rule_law96                  float32
 33   crude1990P                  float32
 34   smallregion                 int16
 35   largeregion                 int16
 36   out_regdisaster             float32
 37   asposmpl                    float32
 38   zero_res                    float32
 39   logoilres                   float32
 40   logvaloilres                float32
 41   discoveryaspoPC             float32
 42   zero_disc                   float32
 43   logdiscoveryaspo            float32
 44   valdisc                     float32
 45   logvaldisc                  float32
 46   oilpop_impute               float32
 47   logoilres_impute            float32
 48   logvaloilres_impute         float32
 49   logGDP_M                    float32
 50   logpop_M                    float32
 51   logpopdens                  float32
 52   democracy                   float32
 53   x_dem                       float32
 54   logmilexgdpSIPRI            float32
 55   logmountain                 float32
 56   logoutreg                   float32
 57   unexpdisc_log               float32
 58   decade                      float32
 59   wildcatsample               float32
 60   africa                      float32
 61   asia                        float32
 62   oceania                     float32
 63   southam                     float32
 64   dincidence2COW              float32
 65   d2incidence2COW             float32
 66   d3incidence2COW             float32
 67   d3_6incidence2COW           float32
 68   d7_10incidence2COW          float32
 69   d3yrsCOW                    float32
 70   d5yrsCOW                    float32
 71   dincidenceU                 float32
 72   d2incidenceU                float32
 73   d3incidenceU                float32
 74   d3_6incidenceU              float32
 75   d7_10incidenceU             float32
 76   d3yrsU                      float32
 77   d5yrsU                      float32
 78   dcoup                       float32
 79   d2coup                      float32
 80   d3coup                      float32
 81   d3_6coup                    float32
 82   d7_10coup                   float32
 83   d3yrsCOUP                   float32
 84   d5yrsCOUP                   float32
 85   dany_coup                   float32
 86   d3_6any_coup                float32
 87   dSambanis_war               float32
 88   d3_6Sambanis_war            float32
 89   dFearon_war                 float32
 90   d3_6Fearon_war              float32
 91   dmilexpSIPRI                float32
 92   d2milexpSIPRI               float32
 93   d3milexpSIPRI               float32
 94   d3_6milexpSIPRI             float32
 95   d7_10milexpSIPRI            float32
 96   d3yrsSIPRI                  float32
 97   d5yrsSIPRI                  float32
 98   Llogoilres                  float32
 99   Llogvaloilres               float32
 100  LlogGDP_M                   float32
 101  Lecgrowth                   float32
 102  Llogpop_M                   float32
 103  Llogpopdens                 float32
 104  Ldemocracy                  float32
 105  Lincidence2COW              float32
 106  LincidenceU                 float32
 107  Lcrude1990P                 float32
dtypes: float32(100), float64(4), int16(3), object(1)
memory usage: 2.2+ MB

In [194]:
def transform_df(df, groupby_cols, log_cols, log_diff_cols, pct_change_cols, binarize_cols):
    
    new_df = df.copy()
    new_cols = []

    for i, col_name in enumerate(log_cols):
        new_col_name = col_name[3:] # to get rid of 'log' in the column name
        new_df[new_col_name] = np.exp(new_df[col_name])
        log_cols[i] = new_col_name

    for col_name in log_diff_cols:
        
        new_col_name = col_name[3:]
        new_df[new_col_name] = np.exp(new_df[col_name])
        diff_name = new_col_name + '_diff'
        new_df[diff_name] = new_df[new_col_name] - new_df.groupby(groupby_cols)[new_col_name].shift(1)
        new_cols.append(diff_name)

    all_cols = log_cols + pct_change_cols
    
    for col_name in all_cols:
        
        diff_name = col_name + '_diff'
        new_df[diff_name] = new_df.groupby(groupby_cols)[col_name].pct_change()
        new_cols.append(diff_name)

        if col_name in binarize_cols:
            binarize_name = col_name + '_binarize'
            new_df[binarize_name] = np.NAN
            new_df.loc[new_df[diff_name] > 0.1, binarize_name] = 1
            new_df.loc[new_df[diff_name] <= 0.1, binarize_name] = 0
            new_df.loc[pd.isnull(new_df[diff_name]), binarize_name] = np.nan
            new_cols.append(binarize_name)
            
    return new_df[new_cols]

In [195]:
# variables that need to take exp and then compute pct change
log_lst = ['logpopdens',
          'logpop_M',
          'logvaloilres',
          'logvaloilres_impute'
          ]

# variables that need to take diff directly
log_diff_lst = ['logmilexgdpSIPRI']

# variables that need to take pct change directly
pct_change_lst = ['democracy',
                'wildcat', 
                'out_regdisaster',
                'oilreserves',
                'crude1990P',
                'valdisc', # added by Wanran
                'valoilres_impute', # value of oilpop_impute (multiply by crude oil price)
                'oilpop_impute'] # oil reserves per capita - imputed

# a subset of pct_change_lst
# variables that need to be binarized
binarize_lst = ['valoilres', # value of oil reserves
                'valdisc', # added by Wanran
                'valoilres_impute', # value of oilpop_impute (multiply by crude oil price)
                'oilpop_impute'] # oil reserves per capita - imputed

# variables that don't need transformation
untransformed_lst = ['onset2COWCS',
                    'onsetUCS',
                    'coup',
                    'periregular',
                    'numcode',
                    'year',
                    'ecgrowth',
                    'logmountain',
                    'ethnic_fractionalization',
                    'religion_fractionalization',
                    'language_fractionalization',
                    'leg_british',
                    'no_transition']

In [196]:
aspo = aspo.replace(0, 0.1**5)

In [197]:
aspo['onset2COWCS'] = aspo.onset2COWCS.replace(0.1**5, 0)
aspo['onsetUCS'] = aspo.onsetUCS.replace(0.1**5, 0)
aspo['onsetUCS'] = aspo.onsetUCS.replace(0.1**5, 0)

In [198]:
aspo = aspo.sort_values(by=['numcode','year'], ascending=True)

In [199]:
new_df_aspo = transform_df(df = aspo,
                        groupby_cols = ['numcode'], 
                        log_cols = log_lst, 
                        log_diff_cols = log_diff_lst, 
                        pct_change_cols = pct_change_lst, 
                        binarize_cols = binarize_lst)

In [200]:
new_df_aspo.columns

Index(['milexgdpSIPRI_diff', 'popdens_diff', 'pop_M_diff', 'valoilres_diff',
       'valoilres_binarize', 'valoilres_impute_diff',
       'valoilres_impute_binarize', 'democracy_diff', 'wildcat_diff',
       'out_regdisaster_diff', 'oilreserves_diff', 'crude1990P_diff',
       'valdisc_diff', 'valdisc_binarize', 'valoilres_impute_diff',
       'valoilres_impute_binarize', 'oilpop_impute_diff',
       'oilpop_impute_binarize'],
      dtype='object')

In [201]:
aspo_new = pd.concat([aspo[untransformed_lst], new_df_aspo], axis = 1)

In [202]:
aspo_new.to_pickle("../Data/data/aspo_new.pkl")

In [203]:
aspo_full = pd.concat([aspo, new_df_aspo], axis = 1)

In [204]:
aspo_full.to_pickle("../Data/data/aspo_full.pkl")

In [205]:
aspo_full = pd.read_pickle('../Data/data/aspo_full.pkl')

In [206]:
aspo_new = pd.read_pickle('../Data/data/aspo_new.pkl')

In [207]:
aspo_new[['wildcat_diff','year']][~aspo_new['wildcat_diff'].isna()].query('wildcat_diff > 0')

       wildcat_diff    year
28     99999.000000  1957.0
31     99999.000000  1960.0
34    299999.000000  1963.0
41    199999.000000  1970.0
48     99999.000000  1977.0
...             ...     ...
5092       0.285714  1981.0
5093       0.222222  1982.0
5096       0.888889  1985.0
5099       0.333333  1988.0
5100       3.000000  1989.0

[1533 rows x 2 columns]

In [208]:
'discoveryaspoPC' in aspo_full.columns

True

In [209]:
aspo_full['wildcat_diff'].isna().sum()

555

In [210]:
aspo_full[['wildcat_diff','year']][~aspo_full['wildcat_diff'].isna()].query('wildcat_diff > 0')

       wildcat_diff    year
28     99999.000000  1957.0
31     99999.000000  1960.0
34    299999.000000  1963.0
41    199999.000000  1970.0
48     99999.000000  1977.0
...             ...     ...
5092       0.285714  1981.0
5093       0.222222  1982.0
5096       0.888889  1985.0
5099       0.333333  1988.0
5100       3.000000  1989.0

[1533 rows x 2 columns]

In [211]:
aspo_full

,year,numcode,oilreserves_full,oilreserves,oilreserves_public,newdiscovery_aspo,imputedzero,aspo,wildcat,endowment,...,wildcat_diff,out_regdisaster_diff,oilreserves_diff,crude1990P_diff,valdisc_diff,valdisc_binarize,valoilres_impute_diff,valoilres_impute_binarize,oilpop_impute_diff,oilpop_impute_binarize
0,1929.0,8,0.281900,0.281900,NaN,NaN,NaN,NaN,NaN,0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1930.0,8,0.282660,0.282660,NaN,0.00076,NaN,1.0,1.00000,0.8,...,NaN,0.000000e+00,0.002696,NaN,NaN,NaN,NaN,NaN,-0.002409,0.0
2,1931.0,8,0.282660,0.282660,NaN,0.00001,NaN,1.0,0.00001,0.8,...,-0.99999,9.525810e+11,0.000000,-0.401178,-0.999443,0.0,-0.005175,0.0,-0.006073,0.0
3,1932.0,8,0.282660,0.282660,NaN,0.00001,NaN,1.0,0.00001,0.8,...,0.00000,-1.000000e+00,0.000000,0.492896,0.000000,0.0,0.003964,0.0,-0.005035,0.0
4,1933.0,8,0.282649,0.282649,NaN,0.00001,NaN,1.0,0.00001,0.8,...,0.00000,3.566128e+10,-0.000039,-0.188141,0.000000,0.0,-0.002133,0.0,-0.005049,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5115,2004.0,890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00000,7.267240e-01,0.000000,0.292683,0.000000,0.0,0.000000,0.0,0.000000,0.0
5116,2005.0,890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00000,1.625349e+00,0.000000,0.378049,0.000000,0.0,0.000000,0.0,0.000000,0.0
5117,2006.0,890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00000,-8.715621e-01,0.000000,0.157455,0.000000,0.0,0.000000,0.0,0.000000,0.0
5118,2007.0,890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00000,1.888971e-01,0.000000,0.080496,0.000000,0.0,0.000000,0.0,0.000000,0.0
5119,2008.0,890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00000,3.769192e+00,0.000000,0.293859,0.000000,0.0,0.000000,0.0,0.000000,0.0

In [212]:
# test: editted by Wanran on Nov 28
# aspo_full[(aspo_full.newdiscovery_aspo>0.00001) & (aspo_full.wildcat==0.00001)]